* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh; 
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(19, 15, 15, 0.9);
  padding: 10px 30px;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
  border-radius: 0 0 8px 8px;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  height: auto;
  max-width: 100%; 
}


.nav-list {
  list-style: none;
  display: flex;
  gap: 40px;
  flex: 2;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: relative;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #e25152;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.login-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 0px; 
}

.btn-login {
  background-color: #e25152;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}



.btn-login:hover {
  background-color: #d70202;
}

.main-content {
  position: relative;
  z-index: 5;
  text-align: center;
  margin-top: 100px;
  padding: 40px 20px;
  color: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

main p {
  font-size: 1.2rem;
  color: #f9f1f3;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
  }

  .logo {
    width: 80px;
  }

  .btn-login {
    margin-top: 10px;
  }

  .main-content {
    padding: 30px 15px;
  }
}

@media (max-width: 480px) {
  main h1 {
    font-size: 2rem;
  }

  main p {
    font-size: 1rem;
  }

  .nav-link {
    font-size: 14px;
  }
}






