body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f1f1f;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.header h1 {
    margin: 10px 0;
    color: #29B6F6;
    font-size: 28px;
}

.user-info {
    position: absolute;
    top: 20px;
    right: 40px;
    text-align: right;
}

.user-info h2 {
    margin: 0;
    font-size: 16px;
    color: #ccc;
}

.btn {
    background-color: #2196F3;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.btn:hover {
    background-color: #1976D2;
}

.input-mes {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: grey;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-mes:hover {
    border-color: #2196F3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
}

.input-mes:focus {
    outline: none;
    border-color: #1976D2;
    box-shadow: 0 0 5px rgba(25, 118, 210, 0.7);
}


.logout {
    background-color: #e53935;
}

.logout:hover {
    background-color: #c62828;
}

main {
    padding: 30px;
}

.filter-form {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.filter-form select,
.filter-form input[type="date"],
.filter-form button {
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
    box-shadow: 0 0 0 1px #333;
}

.filter-form button {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    box-shadow: none;
}

.filter-form button:hover {
    background-color: #388e3c;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 40px;
}

.tabla-vuelos {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-vuelos th, .tabla-vuelos td {
    border: 1px solid #333;
    padding: 12px 10px;
    text-align: center;
    font-size: 14px;
}

.tabla-vuelos th {
    background-color: #2c2c2c;
    color: #29B6F6;
    text-transform: uppercase;
}

.tabla-vuelos tr:nth-child(even) {
    background-color: #1a1a1a;
}

img {
    cursor: pointer;
    max-width: 90px;
    border-radius: 6px;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.15);
}

.chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding-bottom: 40px;
}

.chart-box {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(41, 182, 246, 0.2);
    height: 300px;
}
